/* .customBox
{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}
.customWrapper
{
    width: 70vw;
    height: auto;
    background: #fff;
    padding: 3%;display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 10px;
}
.closeCustom
{
    position: relative;
    top: 0;
    color: #000;
    font-size: 30px;
    right:0;
}
.closereq
{
    position: absolute;
    right: 20px;
    font-size: 28px;
    cursor: pointer;
}
.reqform
{
    display: flex;
    flex-direction: column;
}
.inputWrapper
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
} */
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: auto;
    margin-top: -18%;
    margin-left: -25%;
    padding: 30px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    transform: scale(0);
    transition: transform 250ms ease;
    visibility: hidden;
    z-index: 20;
  }
  .modal-content .close {
    position: relative;
    float: right;
    font-size: 18px;
    transition: transform 500ms ease;
    z-index: 11;
  }
  .modal-content .close:hover {
    color: #3498db;
    transform: rotate(540deg);
  }
  .modal-content header {
    position: relative;
    display: block;
    border-bottom: 1px solid #eee;
  }
  .modal-content header h2 {
    margin: 0 0 10px;
    padding: 0;
    font-size: 28px;
  }
  .modal-content article {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.75;
  }
  .modal-content footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin: 0;
    padding: 10px 0 0;
  }
  .modal-content footer .button {
    position: relative;
    padding: 10px 30px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    overflow: hidden;
  }
  .modal-content footer .button:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    transition: width 250ms ease;
    z-index: 0;
  }
  .modal-content footer .button:hover:before {
    width: 100%;
  }
  .modal-content footer .button.success {
    margin-right: 5px;
    background-color: #2ecc71;
  }
  .modal-content footer .button.danger {
    background-color: #e74c3c;
  }
  
  #modal {
    display: none;
  }
  #modal:checked ~ .modal-bg {
    visibility: visible;
    background-color: black;
    opacity: 0.7;
    transition: background-color 250ms linear;
  }
  #modal:checked ~ .modal-content {
    visibility: visible;
    transform: scale(1);
    transition: transform 250ms ease;
    z-index: 111;
  }