@import '../../fonts.css';
:root
{
	--theme-color:rgba(6, 41, 105, 0.87);
}
.get-in-touch {
	max-width: 800px;
	margin: 50px auto;
	position: relative;
  
  }
  .get-in-touch .title {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 3.6vh;
	line-height: 48px;
	padding-bottom: 48px;
	   color: var(--theme-color);
	  background: var(--theme-color);
	  background: -moz-linear-gradient(125deg,#3361b6,#4c86d1) !important;
	  background: -webkit-linear-gradient(125deg,#3361b6,#4c86d1) !important;
	  background: linear-gradient(125deg,#3361b6,#4c86d1)  !important;
	  -webkit-background-clip: text !important;
	  -webkit-text-fill-color: transparent !important;
  }
  
  .contact-form .form-field {
	position: relative;
	margin: 32px 0;
  }
  .contact-form .input-text {
	display: block;
	width: 100%;
	height: 36px;
	border-width: 0 0 2px 0;
	border-color: var(--theme-color);
	font-size: 18px;
	line-height: 26px;
	font-weight: 400;
  }
  .contact-form .input-text:focus {
	outline: none;
  }
  .contact-form .input-text:focus + .label,
  .contact-form .input-text.not-empty + .label {
	-webkit-transform: translateY(-24px);
			transform: translateY(-24px);
  }
  .contact-form .label {
	position: absolute;
	left: 20px;
	bottom: 11px;
	font-size: 18px;
	line-height: 26px;
	font-weight: 400;
	color: var(--theme-color);
	cursor: text;
	transition: -webkit-transform .2s ease-in-out;
	transition: transform .2s ease-in-out;
	transition: transform .2s ease-in-out, 
	-webkit-transform .2s ease-in-out;
  }
  .contact-form .submit-btn {
	display: inline-block;
	background-color: #000;
	 background-image: linear-gradient(125deg,#3361b6,#4c86d1);
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 16px;
	padding: 8px 16px;
	border: none;
	width:200px;
	cursor: pointer;
  }
  
  .get-in-touch{
	box-shadow:
	0 2.8px 2.2px rgba(0, 0, 0, 0.034),
	0 6.7px 5.3px rgba(0, 0, 0, 0.048),
	0 12.5px 10px rgba(0, 0, 0, 0.06),
	0 22.3px 17.9px rgba(0, 0, 0, 0.072),
	0 41.8px 33.4px rgba(0, 0, 0, 0.086),
	0 100px 80px rgba(0, 0, 0, 0.12)
  ; margin: 5vh auto;
  padding-top: 30px;
  }
  .get-in-touch  input
  {
	  background: transparent;
  }
  .contactLabel
  {
	  width: 100vw;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  font-family: 'Montserrat','Poppins',sans-serif;
	  text-transform: uppercase;
	  font-weight: bolder;
  }
  .contactSwitch{
	  margin: 2px  12px 0;
  }
  .optional
  {
	  color: rgb(139, 130, 130);
  }
  @media screen and (max-width:480px)
  {
	  .contactDiv,.contactLabel
	  {
		  width: 90vw;
		  margin: 0 5vw;
		  /* color: rgb(13, 185, 185); */
	  }
	   .contactLabel>span
	   {
		font-size: 16px;
	   }
  }