@import '../../fonts.css';
.footer {
    width: 100vw;
    background: #151515;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

/* .footer>section {
    margin-bottom: 5%;
} */
.footerContact {
    display: flex;
    flex-direction: column;
    position: relative;
   width: 100vw;

    /* border: 2px solid#ffffff70; */
    margin:40px 0;
   
}
.footerContact>div{
    margin-left:8vw;
}
.email>a:hover {
    color: rgb(115, 163, 109);
    text-decoration: none;
}

.number>a:hover {
    text-decoration: none;
    color: #ffffff8f;
}

.email>a,
.number>a {
    text-decoration: none;
    color: #ffffff8f;
    font-family: 'Domine', serif;
    
    cursor: pointer;
}
.number>a{
    font-size: 30px;
}
.email>a {
    color: #ffffff;
    font-size: 5vh ;
}
@media screen and (max-width:800px)
{
    .email>a
    {
        font-size: 3vh;
    }
}
.footerrow2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footerrow1 {
    width: 90vw;
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-top: 20px;
}

.footerrow1>div>ul {
    list-style: none;
}

.footerrow1>div>ul>li {
    margin-top: 15px;
}

.leftDiv,
.rightDiv {
    width: 40vw;
    color: #ffffff;
}
.leftDiv>.title,
.rightDiv>.title
 {
  color: rgb(73, 159, 216);
}

.leftDiv .footerService {
    color: #8a8484;
}
.leftDiv .footerService:hover
{
    text-decoration: none;
    color: #fff;
}
.leftDiv>ul>li>span {
    color: #ffffff;
}

.rightDiv>ul>li>a {
    text-decoration: none;
    color: #8a8484;
}

.rightDiv>ul>li>a:hover {
    /* color: #DAA520; */
    color: #fff;
    text-decoration: underline;
    transition: all 0.2s ease;
}

.footersocial {
    display: block;
    width: 90vw;
}


.footersocial {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 10px !important;
    margin: 2% 25vw;
    width: 50vw;
}

.footersocial>.social-title,
.footersocial .social-text {
    color: #ffffff;
    font-size: 12px;
}

.footersocial>.social-icon>a>i {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    padding: 0 12px;
}

.footersocial>.social-icon>a>i:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
}

.footersocial>.social-icon::after {
    display: none;
}
.footerrow2 >.title
{
    color:#8a8484  !important;
    margin-top: 13px;
}
.newsletter {
    display: flex;
    flex-direction: row;
    margin: 30px auto;
}

.newsletterinput {
    height: 40px !important;
    width: auto;
    margin-top: 0;
    box-shadow: 3px 4px 12px 3px rgba(0, 0, 0, 0.75);
}

.newsletteremail {
   width: 300px;
 
    background: transparent;
    border: transparent;
    padding-left: 10px;
    /* font-family: serif; */
    color: #ffffff;
    font-weight: normal;
}

.newsletteremail::placeholder {
    color: #ffffff;
}

.newsletterbutton {
    background: #DAA520;
    border-radius: 0;
    opacity: 0.9;
    transition: 0.6s ease;
    font-family: Roboto, sans-serif;
    display: flex;
    align-items: center;
    font-size: 80%;
    padding: 0 5px;
}

.newsletterbutton:hover {
    opacity: 1;
}

#copyright
{
    color: rgba(158, 152, 152, 0.377);
}
@media screen and (max-width:480px)
{   
    .footerContact 
    {
        width: 100vw;
        
    }
    .footerContact>div
    {
        margin-left:9vw;
    }
    .leftDiv,.rightDiv
    {
        width: 100vw;
    }
    .footerrow1{ 
        display: flex;
        flex-direction: column !important;
    }
    .footerContact>.linethrough::before {
        display: inline-block;
    }
    .footerContact>.email>a {
        font-size: 18px !important;
        margin-left:3px;
    }
    .footerContact>.number>a {
        font-size: 15px !important;
        margin-top: 5px;
        margin-bottom: -20px !important;
        margin-left:3px;
    }
    .footerrow1 {
        flex-direction: column !important;
        margin-top: 0;
    }
    .footerrow1>div {
        width: 80vw;
        margin: 5vw;
    }
    .footersocial {
        width: 80vw;
        margin: 20px 10vw;
    }
   
    .newsletter {
        width: 80vw;
        margin: 30px 10vw !important;
        margin-left: -8.5vw;
        transform: scale(0.90);
        font-size: 15px;
    }
    .newsletter button{
        font-size: 13px;
        padding: 0 4px;
    }
    
}