
.loginSignup
{
width: 100vw;
height: auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-bottom: 5vh;
  
}
@media screen and (max-width:480px)
{ .loginSignup{
  width: 90vw;
  margin: 0 5vw;

}
.loginSignup>.card {
  margin-bottom: 10vh;
}
}
.loginSignup>.card {
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  min-height: 400px;
  height: auto;
  max-width: 850px;

  
}

.loginSignup  .card >.left {
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.loginSignup  .card >.left img
{
width: 100%;
height: 100%;
}
.loginSignup .card > .right {
  display: flex;
  align-items: center;
  padding: 20px 2rem;
}

.loginSignup form {
  width: 100%;
}

.loginSignup .form-input {
  display: flex;
  flex-direction: column-reverse;
}

.loginSignup .form-input > label {
  color: #2C3A47;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
  font-size: 20px;
}

.loginSignup .form-input > input[type="text"]:focus + label,
.loginSignup .form-input > input[type="password"]:focus + label,.loginSignup .form-input > input[type="tel"]:focus + label,.loginSignup .form-input > input[type="email"]:focus + label {
  color: #3866ca;
}

.loginSignup form input {
  margin-bottom: 20px;
  width: 100%;
}

.loginSignup .form-input > input[type="text"],
.loginSignup .form-input > input[type="password"],.loginSignup .form-input > input[type="tel"],
.loginSignup .form-input > input[type="email"] {
  border: none;
  border-bottom: 2px solid #2C3A47;
  height: 30px;
  font-size: 16px;
  outline: none;
  transition: border-bottom .3s ease-in-out;
}

.loginSignup .form-input > input[type="text"]:focus,
.loginSignup .form-input > input[type="password"]:focus.loginSignup .form-input > input[type="tel"]:focus,
.loginSignup .form-input > input[type="email"]:focus {
  border-bottom: 2px solid#3866ca;
}
.loginSignup input[type="submit"]{
  
  
}
.loginSignup .btn {
  display: flex;
  height: 50px !important;
  align-items: center;
  justify-content: center;
  background-color: #3866ca;

  border: none;
  color: #FFF;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease-in-out,
              box-shadow .3s ease-in-out,
              transform .3s ease-in-out;
}

.loginSignup .btn:hover {
  background-color:#0cb172;
  box-shadow: 0 5px 10px rgba(0,0,0,.3);
  transform: translateY(-3px);
}

.loginSignup .forgot-password {
  color: #000;
  font-size: .8rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: letter-spacing .3s ease-in-out;
}

.loginSignup .forgot-password:hover {
letter-spacing: 1px;
}

.loginSignup .text-center p{
  font-size: 2vh;
  text-align: left;
 
}