body {
    margin: 0;
    font-size: 20px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .cont {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: white;
    color: black;
    font-family: arial, sans-serif;
    overflow: hidden;
    width: 100vw;
  }
  
  .content {
    position: relative;
    width: 600px;
    max-width: 100%;
    margin: 20px;
    background: white;
    padding: 60px 40px;
    text-align: center;
    box-shadow: -10px 10px 67px -12px rgba(0, 0, 0, 0.2);
    opacity: 0;
    animation: apparition 0.8s 1.2s cubic-bezier(0.39, 0.575, 0.28, 0.995) forwards;
  }
  .content p {
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 0.6rem;
    letter-spacing: 0.1rem;
    color: #595959;
  }
  .content p:last-child {
    margin-bottom: 0;
  }
  .content button {
    display: inline-block;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    border: 3px solid #595959;
    background: transparent;
    font-size: 1rem;
    color: #595959;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
  }
  
  .particle {
    position: absolute;
    display: block;
    pointer-events: none;
  }
  .particle:nth-child(1) {
    top: 11.5942028986%;
    left: 21.4007782101%;
    font-size: 28px;
    filter: blur(0.02px);
    animation: 39s floatReverse2 infinite;
  }
  .particle:nth-child(2) {
    top: 39.9512789281%;
    left: 74.4368266405%;
    font-size: 21px;
    filter: blur(0.04px);
    animation: 28s float infinite;
  }
  .particle:nth-child(3) {
    top: 83.2313341493%;
    left: 5.8997050147%;
    font-size: 17px;
    filter: blur(0.06px);
    animation: 21s float2 infinite;
  }
  .particle:nth-child(4) {
    top: 22.6880394575%;
    left: 90.9990108803%;
    font-size: 11px;
    filter: blur(0.08px);
    animation: 34s floatReverse infinite;
  }
  .particle:nth-child(5) {
    top: 96.3503649635%;
    left: 20.5479452055%;
    font-size: 22px;
    filter: blur(0.1px);
    animation: 37s floatReverse infinite;
  }
  .particle:nth-child(6) {
    top: 43.425814234%;
    left: 15.5490767736%;
    font-size: 29px;
    filter: blur(0.12px);
    animation: 25s floatReverse infinite;
  }
  .particle:nth-child(7) {
    top: 1.9512195122%;
    left: 81.3725490196%;
    font-size: 20px;
    filter: blur(0.14px);
    animation: 23s floatReverse2 infinite;
  }
  .particle:nth-child(8) {
    top: 26.4381884945%;
    left: 32.4483775811%;
    font-size: 17px;
    filter: blur(0.16px);
    animation: 22s float2 infinite;
  }
  .particle:nth-child(9) {
    top: 84.8780487805%;
    left: 57.8431372549%;
    font-size: 20px;
    filter: blur(0.18px);
    animation: 35s float2 infinite;
  }
  .particle:nth-child(10) {
    top: 94.5717732207%;
    left: 95.2380952381%;
    font-size: 29px;
    filter: blur(0.2px);
    animation: 31s float infinite;
  }
  .particle:nth-child(11) {
    top: 47.9217603912%;
    left: 50.0982318271%;
    font-size: 18px;
    filter: blur(0.22px);
    animation: 40s floatReverse infinite;
  }
  .particle:nth-child(12) {
    top: 53.3333333333%;
    left: 4.8780487805%;
    font-size: 25px;
    filter: blur(0.24px);
    animation: 40s float2 infinite;
  }
  .particle:nth-child(13) {
    top: 49.3349455865%;
    left: 1.9474196689%;
    font-size: 27px;
    filter: blur(0.26px);
    animation: 32s floatReverse2 infinite;
  }
  .particle:nth-child(14) {
    top: 12.7764127764%;
    left: 7.8895463511%;
    font-size: 14px;
    filter: blur(0.28px);
    animation: 21s floatReverse infinite;
  }
  .particle:nth-child(15) {
    top: 12.729498164%;
    left: 2.9498525074%;
    font-size: 17px;
    filter: blur(0.3px);
    animation: 32s floatReverse2 infinite;
  }
  .particle:nth-child(16) {
    top: 81.1594202899%;
    left: 60.3112840467%;
    font-size: 28px;
    filter: blur(0.32px);
    animation: 23s floatReverse infinite;
  }
  .particle:nth-child(17) {
    top: 36.7593712213%;
    left: 25.3164556962%;
    font-size: 27px;
    filter: blur(0.34px);
    animation: 31s float infinite;
  }
  .particle:nth-child(18) {
    top: 82.0265379976%;
    left: 89.407191448%;
    font-size: 29px;
    filter: blur(0.36px);
    animation: 36s float2 infinite;
  }
  .particle:nth-child(19) {
    top: 21.2048192771%;
    left: 11.6504854369%;
    font-size: 30px;
    filter: blur(0.38px);
    animation: 31s float infinite;
  }
  .particle:nth-child(20) {
    top: 76.1904761905%;
    left: 58.8812561335%;
    font-size: 19px;
    filter: blur(0.4px);
    animation: 28s float infinite;
  }
  .particle:nth-child(21) {
    top: 50.2415458937%;
    left: 97.2762645914%;
    font-size: 28px;
    filter: blur(0.42px);
    animation: 23s floatReverse2 infinite;
  }
  .particle:nth-child(22) {
    top: 35.1219512195%;
    left: 67.6470588235%;
    font-size: 20px;
    filter: blur(0.44px);
    animation: 27s floatReverse infinite;
  }
  .particle:nth-child(23) {
    top: 90.7521578298%;
    left: 12.8585558853%;
    font-size: 11px;
    filter: blur(0.46px);
    animation: 26s floatReverse2 infinite;
  }
  .particle:nth-child(24) {
    top: 47.2324723247%;
    left: 35.538005923%;
    font-size: 13px;
    filter: blur(0.48px);
    animation: 38s floatReverse infinite;
  }
  .particle:nth-child(25) {
    top: 47.7466504263%;
    left: 95.9843290891%;
    font-size: 21px;
    filter: blur(0.5px);
    animation: 33s floatReverse infinite;
  }
  .particle:nth-child(26) {
    top: 3.9408866995%;
    left: 36.5612648221%;
    font-size: 12px;
    filter: blur(0.52px);
    animation: 27s float infinite;
  }
  .particle:nth-child(27) {
    top: 1.9728729963%;
    left: 21.7606330366%;
    font-size: 11px;
    filter: blur(0.54px);
    animation: 23s floatReverse infinite;
  }
  .particle:nth-child(28) {
    top: 8.7061668682%;
    left: 28.2375851996%;
    font-size: 27px;
    filter: blur(0.56px);
    animation: 36s float2 infinite;
  }
  .particle:nth-child(29) {
    top: 12.6829268293%;
    left: 5.8823529412%;
    font-size: 20px;
    filter: blur(0.58px);
    animation: 28s floatReverse infinite;
  }
  .particle:nth-child(30) {
    top: 87.1481028152%;
    left: 33.4316617502%;
    font-size: 17px;
    filter: blur(0.6px);
    animation: 24s floatReverse2 infinite;
  }
  .particle:nth-child(31) {
    top: 13.7761377614%;
    left: 93.7808489635%;
    font-size: 13px;
    filter: blur(0.62px);
    animation: 40s floatReverse infinite;
  }
  .particle:nth-child(32) {
    top: 10.8241082411%;
    left: 76.9990128332%;
    font-size: 13px;
    filter: blur(0.64px);
    animation: 25s floatReverse2 infinite;
  }
  .particle:nth-child(33) {
    top: 42.0024420024%;
    left: 61.8253189401%;
    font-size: 19px;
    filter: blur(0.66px);
    animation: 32s float2 infinite;
  }
  .particle:nth-child(34) {
    top: 7.7201447527%;
    left: 68.0272108844%;
    font-size: 29px;
    filter: blur(0.68px);
    animation: 28s floatReverse2 infinite;
  }
  .particle:nth-child(35) {
    top: 6.8880688807%;
    left: 10.8588351431%;
    font-size: 13px;
    filter: blur(0.7px);
    animation: 31s floatReverse2 infinite;
  }
  .particle:nth-child(36) {
    top: 9.6385542169%;
    left: 50.4854368932%;
    font-size: 30px;
    filter: blur(0.72px);
    animation: 39s floatReverse infinite;
  }
  .particle:nth-child(37) {
    top: 79.0361445783%;
    left: 8.7378640777%;
    font-size: 30px;
    filter: blur(0.74px);
    animation: 31s floatReverse2 infinite;
  }
  .particle:nth-child(38) {
    top: 47.3489519112%;
    left: 0.9891196835%;
    font-size: 11px;
    filter: blur(0.76px);
    animation: 30s float2 infinite;
  }
  .particle:nth-child(39) {
    top: 78.0722891566%;
    left: 26.213592233%;
    font-size: 30px;
    filter: blur(0.78px);
    animation: 26s float infinite;
  }
  .particle:nth-child(40) {
    top: 0.9828009828%;
    left: 87.7712031558%;
    font-size: 14px;
    filter: blur(0.8px);
    animation: 33s float infinite;
  }
  .particle:nth-child(41) {
    top: 81.3559322034%;
    left: 73.0994152047%;
    font-size: 26px;
    filter: blur(0.82px);
    animation: 21s floatReverse2 infinite;
  }
  .particle:nth-child(42) {
    top: 95.145631068%;
    left: 31.25%;
    font-size: 24px;
    filter: blur(0.84px);
    animation: 33s floatReverse infinite;
  }
  .particle:nth-child(43) {
    top: 1.9464720195%;
    left: 27.397260274%;
    font-size: 22px;
    filter: blur(0.86px);
    animation: 24s floatReverse2 infinite;
  }
  .particle:nth-child(44) {
    top: 24.5398773006%;
    left: 63.0541871921%;
    font-size: 15px;
    filter: blur(0.88px);
    animation: 38s floatReverse infinite;
  }
  .particle:nth-child(45) {
    top: 88.6723507917%;
    left: 57.7864838394%;
    font-size: 21px;
    filter: blur(0.9px);
    animation: 34s float2 infinite;
  }
  .particle:nth-child(46) {
    top: 42.6150121065%;
    left: 77.9727095517%;
    font-size: 26px;
    filter: blur(0.92px);
    animation: 33s floatReverse infinite;
  }
  .particle:nth-child(47) {
    top: 4.8367593712%;
    left: 74.9756572541%;
    font-size: 27px;
    filter: blur(0.94px);
    animation: 39s floatReverse infinite;
  }
  .particle:nth-child(48) {
    top: 41.1260709914%;
    left: 58.9970501475%;
    font-size: 17px;
    filter: blur(0.96px);
    animation: 27s float infinite;
  }
  .particle:nth-child(49) {
    top: 67.9611650485%;
    left: 25.390625%;
    font-size: 24px;
    filter: blur(0.98px);
    animation: 40s float infinite;
  }
  .particle:nth-child(50) {
    top: 22.2760290557%;
    left: 89.6686159844%;
    font-size: 26px;
    filter: blur(1px);
    animation: 24s float infinite;
  }
  .particle:nth-child(51) {
    top: 25.3658536585%;
    left: 87.2549019608%;
    font-size: 20px;
    filter: blur(1.02px);
    animation: 39s floatReverse infinite;
  }
  .particle:nth-child(52) {
    top: 40.9257003654%;
    left: 71.4985308521%;
    font-size: 21px;
    filter: blur(1.04px);
    animation: 25s float2 infinite;
  }
  .particle:nth-child(53) {
    top: 39.3603936039%;
    left: 76.9990128332%;
    font-size: 13px;
    filter: blur(1.06px);
    animation: 22s float2 infinite;
  }
  .particle:nth-child(54) {
    top: 27.1515151515%;
    left: 65.3658536585%;
    font-size: 25px;
    filter: blur(1.08px);
    animation: 22s float infinite;
  }
  .particle:nth-child(55) {
    top: 54.9397590361%;
    left: 45.6310679612%;
    font-size: 30px;
    filter: blur(1.1px);
    animation: 30s float2 infinite;
  }
  .particle:nth-child(56) {
    top: 35.1648351648%;
    left: 4.9067713445%;
    font-size: 19px;
    filter: blur(1.12px);
    animation: 22s floatReverse2 infinite;
  }
  .particle:nth-child(57) {
    top: 8.7167070218%;
    left: 37.037037037%;
    font-size: 26px;
    filter: blur(1.14px);
    animation: 37s float2 infinite;
  }
  .particle:nth-child(58) {
    top: 24.154589372%;
    left: 41.8287937743%;
    font-size: 28px;
    filter: blur(1.16px);
    animation: 22s float infinite;
  }
  .particle:nth-child(59) {
    top: 29.304029304%;
    left: 44.1609421001%;
    font-size: 19px;
    filter: blur(1.18px);
    animation: 27s floatReverse infinite;
  }
  .particle:nth-child(60) {
    top: 67.0776818742%;
    left: 9.8911968348%;
    font-size: 11px;
    filter: blur(1.2px);
    animation: 36s float infinite;
  }
  .particle:nth-child(61) {
    top: 46.6019417476%;
    left: 36.1328125%;
    font-size: 24px;
    filter: blur(1.22px);
    animation: 39s floatReverse infinite;
  }
  .particle:nth-child(62) {
    top: 44.8780487805%;
    left: 32.3529411765%;
    font-size: 20px;
    filter: blur(1.24px);
    animation: 37s floatReverse2 infinite;
  }
  .particle:nth-child(63) {
    top: 51.2946979038%;
    left: 43.5212660732%;
    font-size: 11px;
    filter: blur(1.26px);
    animation: 21s float infinite;
  }
  .particle:nth-child(64) {
    top: 49.2753623188%;
    left: 51.5564202335%;
    font-size: 28px;
    filter: blur(1.28px);
    animation: 24s floatReverse infinite;
  }
  .particle:nth-child(65) {
    top: 84.8780487805%;
    left: 43.137254902%;
    font-size: 20px;
    filter: blur(1.3px);
    animation: 29s floatReverse2 infinite;
  }
  .particle:nth-child(66) {
    top: 4.8484848485%;
    left: 24.3902439024%;
    font-size: 25px;
    filter: blur(1.32px);
    animation: 23s float infinite;
  }
  .particle:nth-child(67) {
    top: 10.6796116505%;
    left: 93.75%;
    font-size: 24px;
    filter: blur(1.34px);
    animation: 22s floatReverse infinite;
  }
  .particle:nth-child(68) {
    top: 14.4927536232%;
    left: 75.8754863813%;
    font-size: 28px;
    filter: blur(1.36px);
    animation: 24s float infinite;
  }
  .particle:nth-child(69) {
    top: 85.9584859585%;
    left: 70.6575073602%;
    font-size: 19px;
    filter: blur(1.38px);
    animation: 31s float2 infinite;
  }
  .particle:nth-child(70) {
    top: 64.3902439024%;
    left: 29.4117647059%;
    font-size: 20px;
    filter: blur(1.4px);
    animation: 37s floatReverse infinite;
  }
  .particle:nth-child(71) {
    top: 44.6060606061%;
    left: 96.5853658537%;
    font-size: 25px;
    filter: blur(1.42px);
    animation: 25s floatReverse2 infinite;
  }
  .particle:nth-child(72) {
    top: 60.0985221675%;
    left: 74.1106719368%;
    font-size: 12px;
    filter: blur(1.44px);
    animation: 32s float infinite;
  }
  .particle:nth-child(73) {
    top: 27.417380661%;
    left: 79.6460176991%;
    font-size: 17px;
    filter: blur(1.46px);
    animation: 22s float infinite;
  }
  .particle:nth-child(74) {
    top: 63.5696821516%;
    left: 30.4518664047%;
    font-size: 18px;
    filter: blur(1.48px);
    animation: 25s floatReverse infinite;
  }
  .particle:nth-child(75) {
    top: 30.843373494%;
    left: 81.5533980583%;
    font-size: 30px;
    filter: blur(1.5px);
    animation: 21s floatReverse infinite;
  }
  .particle:nth-child(76) {
    top: 61.6891064871%;
    left: 42.2812192724%;
    font-size: 17px;
    filter: blur(1.52px);
    animation: 35s float2 infinite;
  }
  .particle:nth-child(77) {
    top: 44.7688564477%;
    left: 53.8160469667%;
    font-size: 22px;
    filter: blur(1.54px);
    animation: 30s float2 infinite;
  }
  .particle:nth-child(78) {
    top: 13.5593220339%;
    left: 94.5419103314%;
    font-size: 26px;
    filter: blur(1.56px);
    animation: 27s floatReverse infinite;
  }
  .particle:nth-child(79) {
    top: 63.3373934227%;
    left: 46.0333006856%;
    font-size: 21px;
    filter: blur(1.58px);
    animation: 37s float2 infinite;
  }
  .particle:nth-child(80) {
    top: 39.263803681%;
    left: 62.0689655172%;
    font-size: 15px;
    filter: blur(1.6px);
    animation: 40s floatReverse2 infinite;
  }
  
  @keyframes apparition {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(180px);
    }
  }
  @keyframes floatReverse {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-180px);
    }
  }
  @keyframes float2 {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(28px);
    }
  }
  @keyframes floatReverse2 {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-28px);
    }
  }
  .returnbtn:hover
  {
    background: #151515;
    color: #fff;
    transition: all 0.3s ease;
  }